frr version 9
frr defaults traditional
service integrated-vtysh-config
!
hostname frr-rs
log stdout
!
router bgp {{ frr_rs_asn }}
 bgp router-id {{ frr_rs_ip }}
 !
 address-family ipv4 unicast
  exit-address-family
!
line vty
!
